<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Oak-d-lite Camera -->
    <xacro:include filename="$(find deepdrive_description)/urdf/oakdlite.xacro"/>
    <joint name="base_camera_depth_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_depth"/>
        <origin xyz="0.14 -0.045 0.09" rpy="0 0 0"/>
    </joint>
    <link name="camera_depth"/>
    <xacro:camera_depth mount_point="camera_depth"/>

    <!-- Wide angle camera -->
    <xacro:include filename="$(find deepdrive_description)/urdf/camera_wide.xacro"/>
    <joint name="base_camera_wide_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_wide"/>
        <origin xyz="0.125 0.030 0.081" rpy="0 0 0"/>
        <!-- <origin xyz="0.125 0.03 0.08" rpy="${-pi/2} 0 ${-pi/2}"/> -->
        <!-- <origin xyz="0.064 -0.065 0.094" rpy="0 0 0"/> -->
        <!-- 0 1.57 0 -->
        <!-- .017 .053 -.052 -->
    </joint>
    <link name="camera_wide"/>
    <xacro:camera_wide mount_point="camera_wide"/>



</robot>