<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find deepdrive_description)/urdf/inertials.xacro"/>

  <xacro:macro name="camera_depth" params="mount_point">
    <xacro:property name="oakd_length" value="0.091" />
    <xacro:property name="oakd_width" value="0.028" />
    <xacro:property name="oakd_depth" value="0.0175" />
    <xacro:property name="oakd_mass" value="0.061" />

    <!-- Depth camera -->
    <joint name="${mount_point}_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${mount_point}"/>
      <child link="${mount_point}_link"/>
    </joint>

    <link name="${mount_point}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
        <geometry>
          <mesh filename="package://deepdrive_description/meshes/sensors/oakdlite.stl" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0" />
        <geometry>
          <box size="${oakd_length} ${oakd_width} ${oakd_depth}"/>
        </geometry>
      </collision>
      <xacro:solid_cuboid_inertial rpy="0 0 0" xyz="0 0 0" mass="${oakd_mass}" x="${oakd_length}" y="${oakd_width}" z="${oakd_depth}" />
    </link>

    <joint name="${mount_point}_imu_link" type="fixed">
      <parent link="${mount_point}_link"/>
      <child link="${mount_point}_imu_frame"/>
      <origin xyz="0.0 0 0.0" rpy="${-pi/2} 0 ${pi/2}"/>
    </joint>
  
    <link name="${mount_point}_imu_frame"/>

    <!-- RGB -->
    <joint name="${mount_point}_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="${mount_point}"/>
      <child link="${mount_point}_optical_frame"/>
    </joint>
    <link name="${mount_point}_optical_frame"/>

    <!-- Gazebo -->
    <sensor type="camera" name="${mount_point}_rgb">
      <!-- Seems to be ignored -->
      <pose>0 0 0 0 0 0</pose>
      <update_rate>10.0</update_rate>
      <visualize>true</visualize>
      <!-- name="${mount_point}" -->
      <camera>
        <horizontal_fov>1.2566</horizontal_fov>
        <image>
          <width>800</width>
          <height>600</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.03</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>

      <plugin name="${mount_point}_rgb_optical_frame" filename="libgazebo_ros_camera.so">
        <frame_name>${mount_point}_optical_frame</frame_name>
      </plugin>

    </sensor>


    <!-- Depth/Stereo -->
    <joint name="${mount_point}_depth_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${mount_point}"/>
      <child link="${mount_point}_depth_frame"/>
    </joint>
    <link name="${mount_point}_depth_frame"/>

    <!-- TODO: Not sure why these are popping up in foxglove, but just hack them for now -->
    <joint name="${mount_point}_right_camera_optical_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${mount_point}_optical_frame"/>
      <child link="${mount_point}_right_camera_optical_frame"/>
    </joint>
    <link name="${mount_point}_right_camera_optical_frame"/>

    <joint name="${mount_point}_left_camera_optical_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${mount_point}_optical_frame"/>
      <child link="${mount_point}_left_camera_optical_frame"/>
    </joint>
    <link name="${mount_point}_left_camera_optical_frame"/>

    <joint name="${mount_point}_rgb_camera_optical_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${mount_point}_optical_frame"/>
      <child link="${mount_point}_rgb_camera_optical_frame"/>
    </joint>
    <link name="${mount_point}_rgb_camera_optical_frame"/>

    
    <!-- end hack -->

    <gazebo reference="${mount_point}_link">
      <material>Gazebo/Black</material>

      <sensor name="${mount_point}_depth" type="depth">
        <pose>0.01233 -0.03 .01878 0 0 0</pose>
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.2</near>
            <far>19.1</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
        <topic>${mount_point}_depth</topic>

        <plugin name="${mount_point}_depth" filename="libgazebo_ros_camera.so">
          <frame_name>${mount_point}_depth_frame</frame_name>
        </plugin>
      </sensor>



    </gazebo>
  </xacro:macro>
</robot>