<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="sonar" params="name xyz rpy">

        <joint name="sonar_${name}_link" type="fixed">
            <parent link="base_link" />
            <child link="sonar_${name}_link" />
            <origin xyz="${xyz}" rpy="${rpy}" />
        </joint>

        <link name="sonar_${name}_link">
            <visual>
                <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}" />
                <geometry>
                    <mesh filename="package://deepdrive_description/meshes/sensors/sonar.stl"
                        scale="0.001 0.001 0.001" />
                </geometry>
                <material name="sonar_mat">
                    <color rgba="0.6 0.6 0.6 1.0" />
                </material>
            </visual>
        </link>


        <gazebo reference="sonar_${name}_link">
            <material>Gazebo/Grey</material>

            <sensor name="sonar_${name}_link" type="ray">
                <pose>${xyz} ${rpy}</pose>
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>5</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>5</samples>
                            <resolution>1.000000</resolution>
                            <min_angle>-0.12</min_angle>
                            <max_angle>0.12</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>5</samples>
                            <resolution>1.000000</resolution>
                            <min_angle>-0.01</min_angle>
                            <max_angle>0.01</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.02</min>
                        <max>4</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="sonar_${name}" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <remapping>~/out:=sonar_${name}</remapping>
                    </ros>
                    <output_type>sensor_msgs/Range</output_type>
                    <radiation_type>ultrasound</radiation_type>
                    <frame_name>sonar_${name}_link</frame_name>
                </plugin>

            </sensor>
        </gazebo>

    </xacro:macro>

</robot>